# nRF52 DK NRF52832 board configuration

# Copyright (c) 2016 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if BOARD_CON_A

config BOARD
	default "con_a"

config BT_CTLR
	default BT

endif # BOARD_CON_A
